In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("mower_market_snapshot.csv", sep=';')

In [3]:
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [4]:
#Décrire le dataset: max, min, moyenne, quartiles, nombre de valeurs par colonne
#afficher les variables uniques pour Product type, quality, warranty
#Comprendre le problème + faire des recherches sur le RMLSE

In [5]:
df.describe()

,capacity,failure_rate,id,margin,price,market_share,attractiveness
count,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000
mean,47.663266,0.166448,18958.000000,186.262609,260.075165,0.002144,0.636507
std,19.840501,0.073605,404.000825,191.011102,259.949127,0.001790,0.124016
min,0.013884,0.028906,18259.000000,52.943989,62.162200,0.000564,0.297384
25%,35.853890,0.095678,18608.500000,62.247602,73.379425,0.001135,0.549369
50%,50.309242,0.199796,18958.000000,66.299672,78.439753,0.001399,0.641351
75%,61.905015,0.228011,19307.500000,265.370973,384.265263,0.002446,0.726746
max,104.614865,0.302465,19657.000000,790.012898,964.973926,0.009314,0.952877

In [6]:
df.count()

capacity          1399
failure_rate      1399
id                1399
margin            1399
price             1399
prod_cost         1381
product_type      1399
quality           1399
warranty          1399
market_share      1399
attractiveness    1399
dtype: int64

In [7]:
import numpy as np

In [8]:
df.min()

capacity            0.0138838
failure_rate        0.0289062
id                      18259
margin                 52.944
price                 62.1622
product_type      auto-portee
quality                 Hight
warranty                 1 an
market_share      0.000563646
attractiveness       0.297384
dtype: object

In [9]:
df.max()

capacity             104.615
failure_rate        0.302465
id                     19657
margin               790.013
price                964.974
product_type         essence
quality               Medium
warranty               3anss
market_share      0.00931431
attractiveness      0.952877
dtype: object

In [10]:
df.mean()

capacity             47.663266
failure_rate          0.166448
id                18958.000000
margin              186.262609
price               260.075165
market_share          0.002144
attractiveness        0.636507
dtype: float64

In [11]:
df.quantile([0.25, 0.5, 0.75])

,capacity,failure_rate,id,margin,price,market_share,attractiveness
0.25,35.853890,0.095678,18608.5,62.247602,73.379425,0.001135,0.549369
0.50,50.309242,0.199796,18958.0,66.299672,78.439753,0.001399,0.641351
0.75,61.905015,0.228011,19307.5,265.370973,384.265263,0.002446,0.726746

In [12]:
df.warranty.unique()

array(['3ans', '3 ans.', '3_ans', '3 anss', '3ans.', '3 ans', '3_ans.',
       '3_anss', '3anss', '2 ans', '2 anss', '2anss', '2_ans', '2ans',
       '2_ans.', '2 ans.', '2_anss', '2ans.', '1 an', '1an', '1_an.',
       '1ans', '1an.', '1_ans', '1_an', '1 an.', '1 ans'], dtype=object)

In [13]:
df.quality.unique()

array(['Low', 'Medium', 'Hight'], dtype=object)

In [14]:
df.product_type.unique()

array(['auto-portee', 'electrique', 'essence'], dtype=object)

In [15]:
df['garantie'] = df['warranty'].astype(str).str[0]
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,garantie
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648,3
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792,3
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129,3
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730,3
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614,3
...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126,1
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739,1
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622,1
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537,1
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969,1

In [16]:
df = df.drop('warranty', axis=1)

In [17]:
df.isnull()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,market_share,attractiveness,garantie
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1394,False,False,False,False,False,False,False,False,False,False,False
1395,False,False,False,False,False,False,False,False,False,False,False
1396,False,False,False,False,False,False,False,False,False,False,False
1397,False,False,False,False,False,False,False,False,False,False,False
1398,False,False,False,False,False,False,False,False,False,False,False

In [18]:
bool_series = pd.isnull(df["prod_cost"])

In [19]:
df[bool_series]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,market_share,attractiveness,garantie
107,31.019904,0.038149,19522,658.116184,411.087712,NaN,auto-portee,Low,0.007505,0.767814,3
135,23.340049,0.039023,19596,726.196516,396.773981,NaN,auto-portee,Medium,0.006937,0.709674,3
170,34.857361,0.114097,18964,241.552664,72.970497,NaN,electrique,Low,0.003039,0.791921,2
232,41.875278,0.096177,18736,291.932051,891.665482,NaN,electrique,Medium,0.002167,0.564682,2
280,33.383391,0.091738,18359,260.868096,869.049664,NaN,electrique,Low,0.002675,0.696976,2
331,35.137522,0.093361,19251,262.668491,77.213051,NaN,electrique,Low,0.002158,0.562313,2
471,44.813757,0.102862,18379,259.776821,72.035083,NaN,electrique,Medium,0.002886,0.751908,2
607,62.926054,0.228961,18806,66.590674,843.474741,NaN,essence,Low,0.001026,0.541218,1
711,50.760451,0.275969,19381,60.069105,401.325676,NaN,essence,Low,0.001170,0.617490,1
732,39.691240,0.227008,18535,61.127369,389.408396,NaN,essence,Medium,0.000978,0.515936,1
795,59.270658,0.201919,19399,60.991972,397.807476,NaN,essence,Low,0.001421,0.749497,1
804,44.467231,0.191641,19038,65.094740,861.597824,NaN,essence,Medium,0.000975,0.514259,1
815,74.890396,0.217977,18739,60.409239,833.424852,NaN,essence,Low,0.001615,0.851886,1
843,72.452836,0.166651,18792,63.496297,398.305604,NaN,essence,Low,0.001240,0.654296,1
845,43.941280,0.249715,19365,61.455882,905.390344,NaN,essence,Medium,0.001362,0.718510,1
934,59.048087,0.233942,18874,64.523335,841.636652,NaN,essence,Low,0.001217,0.642085,1
1021,50.763299,0.215908,19234,60.301489,347.511767,NaN,essence,Low,0.001169,0.616570,1
1105,76.363347,0.211185,19224,64.957288,832.840825,NaN,essence,Low,0.001245,0.656965,1

In [20]:
df.loc[:, 'quality']

0          Low
1          Low
2          Low
3          Low
4       Medium
         ...
1394    Medium
1395       Low
1396       Low
1397       Low
1398       Low
Name: quality, Length: 1399, dtype: object

In [21]:
df[df.quality=='Low']

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,market_share,attractiveness,garantie
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,0.006360,0.650648,3
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,0.006840,0.699792,3
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,0.006179,0.632129,3
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,0.007925,0.810730,3
7,8.676314,0.042066,18943,633.515449,818.075591,184.56014118975136,auto-portee,Low,0.005291,0.541318,3
...,...,...,...,...,...,...,...,...,...,...,...
1393,40.831294,0.217289,18950,62.296416,69.391858,7.095442545963653,essence,Low,0.001163,0.613849,1
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,0.001038,0.547739,1
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,0.001243,0.655622,1
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,0.001644,0.867537,1
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,0.001022,0.538969,1

In [22]:
df[df.quality=='Low'].prod_cost

0       195.03551928211797
1       151.31809934886763
2       178.13731921134948
3       162.82946157588628
7       184.56014118975136
               ...
1393     7.095442545963653
1395    11.380588736668567
1396               unknown
1397     9.794196773761458
1398    10.696216086742934
Name: prod_cost, Length: 971, dtype: object

In [23]:
lowquality = df[df.quality=='Low'].prod_cost

In [24]:
lowquality

0       195.03551928211797
1       151.31809934886763
2       178.13731921134948
3       162.82946157588628
7       184.56014118975136
               ...
1393     7.095442545963653
1395    11.380588736668567
1396               unknown
1397     9.794196773761458
1398    10.696216086742934
Name: prod_cost, Length: 971, dtype: object

In [25]:
df['lowquality'] = lowquality
df.head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,market_share,attractiveness,garantie,lowquality
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,0.006360,0.650648,3,195.03551928211797
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,0.006840,0.699792,3,151.31809934886763
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,0.006179,0.632129,3,178.13731921134948
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,0.007925,0.810730,3,162.82946157588628
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,0.007406,0.757614,3,NaN

In [26]:
df.lowquality.mean()

TypeError: can only concatenate str (not "int") to str

In [ ]:
np.nanmean.lowquality()