In [1]:
# Exercice 1

In [2]:
x = 2

In [3]:
z = 8

In [4]:
y = 6

In [5]:
z / y

1.3333333333333333

In [6]:
z % x

0

In [7]:
y * z

48

In [8]:
y ** x

36

In [9]:
x + z

10

In [10]:
y - z

-2

In [11]:
# Exercice 2

In [12]:
s = 'chaise'

In [13]:
s

'chaise'

In [14]:
t = 'table'

In [15]:
t

'table'

In [16]:
s + t

'chaisetable'

In [17]:
t * 3

'tabletabletable'

In [18]:
s * 4

'chaisechaisechaisechaise'

In [19]:
# pour recuperer la deuxieme lettre de t donc de table

In [20]:
t[x]

'b'

In [21]:
# pour nommer la deuxieme lettre de S donc de chaise en commencant par la fin de la chaine car '-'

In [22]:
s[-x]

's'

In [23]:
# cela prend le mot "t" donc "table" et il va extraire les lettres entre la deuxieme et la sixième  :

In [24]:
t[x:y]

'ble'

In [25]:
# la longueur du mot : il va compter toutes les lettres du mot "t" donc "table"

In [26]:
len (t)

5

In [27]:
#Exercice 3

In [28]:
#ici, le z est équivalent au chiffre 8 et le x au chiffre 2 , donc z est bien plus grand que x, c'est VRAI

In [29]:
z > x

True

In [30]:
#ici, y (6) n'est pas plus petit que x (2) donc ce la est faux

In [31]:
y < x

False

In [32]:
# 6 est égal à 2

In [33]:
y == x

False

In [34]:
# 6 est égal à 6

In [35]:
y == y

True

In [36]:
# Exercice 4

In [37]:
prénom = 'ines'

In [38]:
nom = 'majri'

In [39]:
#on rassemble le prenom et le nom dans la meme chaîne de caractère avec un espace

In [40]:
nom_complet = 'ines majri'

In [41]:
nom_complet

'ines majri'

In [42]:
# Imprimer une centaine de fois le prénom et nom

In [43]:
nom_complet * 100

'ines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majri'

In [44]:
print(nom_complet)

ines majri

In [45]:
# avoir les initiales séparées d'un espace / méthode à partir de 'nom complet'

In [46]:
initiales = nom_complet [0] , nom_complet [5]

In [47]:
initiales

('i', 'm')

In [48]:
# Autre methode vu sur internet à partir de "print" et "end=" 
# de sorte à ce que les trois chevrons ">>>" se retrouvent collés après la chaîne de caractères 
# et qu'il ne le renvoie pas à la ligne

In [49]:
print("i") ; print("m")

i
m

In [50]:
print("i", end="") ; print("m")

im

In [51]:
print("i", end=" ") ; print("m")

i m

In [52]:
nom_complet[0] * 100

'iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii'

In [53]:
nom_complet[5] * 100

'mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm'

In [54]:
#Exercice 5

In [55]:
prenom = input("quel est votre prénom ?")

quel est votre prénom ? ines

In [56]:
prenom = input("quel est votre nom ?")

quel est votre nom ? majri

In [57]:
nom_complet

'ines majri'

In [58]:
initiales = input("i m")

i m

In [59]:
prenom = input("première lettre du nom de famille")

première lettre du nom de famille M

In [60]:
# Exercice 6
# on retape la formule

In [61]:
# Exercice 7

In [62]:
A = x < y
B = y < x
C = z > y

In [63]:
A, B, C

(True, False, True)

In [64]:
#boee

In [65]:
# TD2
# Exercice 1 
# programme qui construit deux chaînes de caractères c_alpha et c_num

In [66]:
c = "X44bf38j23jdjgfjh737nei47"

In [67]:
c = "X44bf38j23jdjgfjh737nei47"

res1 = "" 

for i in c: 
    
    if i.isdigit(): 
        res1 = "".join([res1, i]) 

print ("c_num: ", str(res1))

c_num:  44382373747

In [68]:
c = "X44bf38j23jdjgfjh737nei47"

res1 = "" 

for i in c: 
    
    if i.isalpha(): 
        res1 = "".join([res1, i]) 

print ("c_alpha: ", str(res1))

c_alpha:  Xbfjjdjgfjhnei

In [69]:
# utilisez un test conditionnel

In [70]:
"c".isalpha()

True

In [71]:
"c".isdigit()

False

In [72]:
# Écrivez un programme qui détermine si la sous-chaîne j23 apparaît dans votre chaîne

In [73]:
# programme qui détermine si la sous-chaîne f37 apparaît dans votre chaîne,

In [74]:
resultat = c.find('f37')
print ("'f37':", resultat )

'f37': -1

In [75]:
# avec str.find(), recherchez le caractère f, puis celui de 3, puis celui de 7
# vérifiez que ces indices forment bien une suite croissante

In [76]:
resultat = c.find('f')
print ("'f':", resultat )

'f': 4

In [77]:
resultat = c.find('3')
print ("'3':", resultat )

'3': 5

In [78]:
resultat = c.find('7')
print ("'7':", resultat )

'7': 17

In [79]:
# Exercice 2

In [80]:
texte = "We introduce here the Python language"

In [81]:
texte

'We introduce here the Python language'

In [82]:
# Créez un script qui compte le nombre de caractères de cette chaîne. V

In [83]:
len(texte)

37

In [84]:
#initialisez une variable “compteur” à 0
#Vérifiez que votre résultat corresponde bien à len(texte)

In [85]:
count = 0
current = ""
for i in "We introduce here the Python language":
    count += 1
    current += i
    
if current == "We introduce here the Python language":
    print(count)

37

In [86]:
#Créez un autre script qui compte le nombre de caractères de cette chaîne qui ne sont pas des espaces
#test conditionnel

In [87]:
texte = "We introduce here the Python language";  
count = 0;  
   
# Va prendre chaque charactere exeptés les espaces
for i in range(0, len(texte)):  
    if(texte[i] != ' '):  
        count = count + 1;  

print("Nombre de charactere sans les espaces: " + str(count));

Nombre de charactere sans les espaces: 32

In [88]:
#créez un script qui compte le nombre de mots de cette chaîne. utiliser un test conditionnel.

In [89]:
string = input("String to search is : ")
total = 1
i = 0

while(i < len(string)):
   if(string[i] == ' ' or string == '\n' or string == '\t'):
      total = total + 1
   i +=1

print("Total Number: ", total)

String to search is :
Total Number:  1

In [90]:
texte2 = "We introduce here the Python language. To learn more about the language, consider going through the excellent tutorial https://docs.python.org/ tutorial. Dedicated books are also available, such as http://www.diveintopython.net/."

In [91]:
texte2

'We introduce here the Python language. To learn more about the language, consider going through the excellent tutorial https://docs.python.org/ tutorial. Dedicated books are also available, such as http://www.diveintopython.net/.'

In [92]:
string = input("String to search is : ")
total = 1
i = 0

while(i < len(string)):
   if(string[i] == ' ' or string == '\n' or string == '\t'):
      total = total + 1
   i +=1

print("Total Number: ", total)

String to search is :
Total Number:  1

In [93]:
#Exercice 3

In [94]:
liste = ["nuages", "ciel"]

In [95]:
# nous allons rajouter un mot dans la liste avec la fonction liste.append

In [96]:
liste.append("etoiles")

In [97]:
liste

['nuages', 'ciel', 'etoiles']

In [98]:
# nous allons trier par ordre alphabétique

In [99]:
liste.sort()

In [100]:
liste

['ciel', 'etoiles', 'nuages']

In [101]:
#Le processus de saisie s’arrête à FIN

In [102]:
#Exercice 4

In [103]:
couleurs = ["Pique", "Trefle", "Carreau", "Coeur"]
valeurs = [2, 3, 4, 5, 6, 7, 8, 9, 10, "valet", "dame", "roi", "as"]

In [104]:
cartes = []

In [105]:
cartes

[]

In [106]:
for c in couleurs:
     for v in valeurs:
       print(str(c)+" "+str(v))
       cartes.append(str(c)+" "+str(v))
        
#print(c)

Pique 2
Pique 3
Pique 4
Pique 5
Pique 6
Pique 7
Pique 8
Pique 9
Pique 10
Pique valet
Pique dame
Pique roi
Pique as
Trefle 2
Trefle 3
Trefle 4
Trefle 5
Trefle 6
Trefle 7
Trefle 8
Trefle 9
Trefle 10
Trefle valet
Trefle dame
Trefle roi
Trefle as
Carreau 2
Carreau 3
Carreau 4
Carreau 5
Carreau 6
Carreau 7
Carreau 8
Carreau 9
Carreau 10
Carreau valet
Carreau dame
Carreau roi
Carreau as
Coeur 2
Coeur 3
Coeur 4
Coeur 5
Coeur 6
Coeur 7
Coeur 8
Coeur 9
Coeur 10
Coeur valet
Coeur dame
Coeur roi
Coeur as

In [107]:
for v in valeurs:
    print(v)

2
3
4
5
6
7
8
9
10
valet
dame
roi
as

In [108]:
cartes.append(valeurs)

In [109]:
#Exercice 7

In [110]:
dico_translate = {'chaise' : 'chair', 'bureau' : 'desk', 'stylo' : 'pen'}

In [111]:
#on verifie

In [112]:
dico_translate

{'chaise': 'chair', 'bureau': 'desk', 'stylo': 'pen'}

In [113]:
#Nous allons rajouter un couple clé-valeur avec la fonction .update()

In [114]:
dico_translate.update({'Cerveau':'Brain'})

In [115]:
# On verifie que le couple clé-valeur est bien appliqué

In [116]:
dico_translate

{'chaise': 'chair', 'bureau': 'desk', 'stylo': 'pen', 'Cerveau': 'Brain'}

In [117]:
dico_translate

{'chaise': 'chair', 'bureau': 'desk', 'stylo': 'pen', 'Cerveau': 'Brain'}

In [118]:
#Recherchez si votre dictionnaire contient la traduction du mot “cerveau”

In [119]:
dico_translate['Cerveau']

'Brain'

In [120]:
#Effectuez un parcours par clés de votre dictionnaire.

In [121]:
>>> dico_translate = {'chaise':'chair', 'bureau':'desk', 'stylo':'pen', 'Cerveau': 'Brain'}
>>> for cle, valeur in dico_translate.items():
...     print("La clé {} contient la valeur {}.".format(cle, valeur))
...

La clé chaise contient la valeur chair.
La clé bureau contient la valeur desk.
La clé stylo contient la valeur pen.
La clé Cerveau contient la valeur Brain.

In [122]:
#nouveau dictionnaire, utilisez un parcours clé-valeur

In [123]:
def creer_nouveau_dico(dico_translate):
    nouveau_dico={}
    
    for key,value in dico_translate.items():
        if value not in nouveau_dico:
            nouveau_dico[value]=[key]
            
        elif key not in nouveau_dico[value]:
            nouveau_dico[value].append(key)

    return nouveau_dico

print(creer_nouveau_dico(dico_translate))

{'chair': ['chaise'], 'desk': ['bureau'], 'pen': ['stylo'], 'Brain': ['Cerveau']}

In [124]:
# 7.6 Recherchez si votre dictionnaire contient la traduction du mot “brain”.

In [125]:
(creer_nouveau_dico(dico_translate))['Brain']

['Cerveau']

In [126]:
# 7.6 Afficher sa cle correspondante

In [127]:
>>> dico_translate = {'Cerveau': 'Brain'}
>>> for cle, valeur in dico_translate.items():
...     print("La clé {} contient la valeur {}.".format(cle, valeur))
...

La clé Cerveau contient la valeur Brain.

In [128]:
# 7.7  Modifiez votre dictionnaire de départ de sorte que les valeurs ne soient plus des simples mots
#anglais, mais des listes de mots correspondant à autant de traductions possibles de vos clés

In [129]:
{'Dico_translate': {'cerveau': 'brain'}, 'Dico_translate2': {'cerveau': 'cerebro'}, 
 'Dico_translate3': {'cerveau': 'beyin'}}

{'Dico_translate': {'cerveau': 'brain'},
 'Dico_translate2': {'cerveau': 'cerebro'},
 'Dico_translate3': {'cerveau': 'beyin'}}

In [130]:
Dico_translate = { 'Dict1': {'cerveau': 'brain'}, 
         'Dict2': {'cerveau': 'cerebro'},
         'Dict3': {'cerveau': 'beyin'}}

In [131]:
print(Dico_translate['Dict1']['cerveau'])
print(Dico_translate['Dict2']['cerveau']) 
print(Dico_translate['Dict3']['cerveau'])

brain
cerebro
beyin

In [132]:
# 7.8 Ajouter à votre nouveaux dictionnaire le couple clé-valeur "chemin" : ["path", "way"].

In [133]:
dico_translate = {'chair': ['chaise'], 'desk': ['bureau'], 'pen': ['stylo'], 'chemin': 'path'}

In [134]:
dico_translate

{'chair': ['chaise'], 'desk': ['bureau'], 'pen': ['stylo'], 'chemin': 'path'}

In [135]:
#7.9. Recherchez la deuxième traduction du mot “chemin”

In [136]:
Dico_translate = { 'Dict4': {'chemin': 'path'}}

In [137]:
print(Dico_translate['Dict4']['chemin'])

path

In [138]:
# 7.10. Effacez la clé “chemin” et sa valeur correspondante de votre dictionnaire (fonction del).

In [139]:
Dict = {'Dict1': {'cerveau': 'brain', 'cerveau': 'cerebro', 'cerveau': 'beyin' }, 
        'Dict2': {'chemin': 'path', 'chemin': 'way'}} 
print("Initial nested dictionary:-") 
print(Dict) 
  

print("\nDeleting Dict2:-") 
del Dict['Dict2'] 
print(Dict)

Initial nested dictionary:-
{'Dict1': {'cerveau': 'beyin'}, 'Dict2': {'chemin': 'way'}}

Deleting Dict2:-
{'Dict1': {'cerveau': 'beyin'}}

In [140]:
Dict

{'Dict1': {'cerveau': 'beyin'}}

In [141]:
#Exercice 8

In [142]:
# 8.1

In [143]:
mon_dico :('alia', 'amy')

In [144]:
prenom = input("Entrer votre prenom ?")
nom = input("Entrer votre nom ?")
matricule = input("Entrer votre matricule ?")

Entrer votre prenom ? alia
Entrer votre nom ?marty
Entrer votre matricule ?D017

In [145]:
prenom2 = input("Entrer votre prenom ?")
nom2 = input("Entrer votre nom ?")
matricule2 = input("Entrer votre matricule ?")

Entrer votre prenom ?amy
Entrer votre nom ?casty
Entrer votre matricule ?D018

In [146]:
# Dans un dictionnaire
#etudiant 1

In [147]:
mon_dico : prenom = input("Entrer votre prenom ?")
nom = input("Entrer votre nom ?")
matricule = input("Entrer votre matricule ?")

Entrer votre prenom ?alia
Entrer votre nom ?marty
Entrer votre matricule ?D017

In [148]:
mon_dico

'alia'

In [149]:
# Dans un dictionnaire
#etudiant 2

In [150]:
mon_dico : prenom2 = input("Entrer votre prenom ?")
nom2 = input("Entrer votre nom ?")
matricule2 = input("Entrer votre matricule ?")

Entrer votre prenom ?amy
Entrer votre nom ?casty
Entrer votre matricule ?D018

In [151]:
mon_dico

'amy'

In [152]:
#8.2

In [153]:
>>> mon_dico = []
>>> for i in mon_dico:
...     if i > ...:
...             print("On stoppe la boucle")
...             break
...     print(i)

In [154]:
#8.3

In [155]:
for alia in mon_dico :
    print (alia)

In [156]:
#8.4 déterminer si un étudiant du nom de “Obama” appartient à votre dictionnaire,

In [157]:
>>> if "obama" in mon_dico:
...     print("La clé 'obama' existe pour mon_dico")

In [158]:
#TD3
#Exercice 1
# 1.1

In [159]:
entier = input("Entrer un chiffre?")

Entrer un chiffre?5

In [160]:
a=int(input("Quelle table de multiplication voulez vous afficher? :"))

Quelle table de multiplication voulez vous afficher? :5

In [161]:
orep=''

orep=int(input("Quelle table de multiplication voullez vous afficher?"))

i=1

for i in range(0, 10):

   i+=1

   print (i, "*", orep, "=", i*orep)

Quelle table de multiplication voullez vous afficher?5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [162]:
#1.2

In [163]:
orep=''

orep=int(input("Quelle table de multiplication voullez vous afficher?"))

i=1

for i in range(0, 10):

   i+=1

   print (i, "*", orep, "=", i*orep, end=' '),

Quelle table de multiplication voullez vous afficher?5
1 * 5 = 5 2 * 5 = 10 3 * 5 = 15 4 * 5 = 20 5 * 5 = 25 6 * 5 = 30 7 * 5 = 35 8 * 5 = 40 9 * 5 = 45 10 * 5 = 50

In [164]:
#1.3

In [165]:
chiffre = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
mult = [1,]
mult2 = [2,]
mult3 = [3,]
mult4 = [4,]
mult5 = [5,]

In [166]:
print("\t\t\t\t=== Multiplication de 1, 2, 3, 4, 5  ===\n\n")
 
for c in chiffre:
     for m in mult:
        print(str(c)+"*"+str(m),"=", c*m, end=' ')
        cartes.append(str(c)+" "+str(m)) 
        
for c in chiffre:
     for m in mult2:
        print(str(c)+"*"+str(m),"=", c*m, end=' ')
        cartes.append(str(c)+" "+str(m)) 

for c in chiffre:
     for m in mult3:
        print(str(c)+"*"+str(m),"=", c*m, end=' ')
        cartes.append(str(c)+" "+str(m)) 
        
for c in chiffre:
     for m in mult4:
        print(str(c)+"*"+str(m),"=", c*m, end=' ')
        cartes.append(str(c)+" "+str(m)) 
        
for c in chiffre:
     for m in mult5:
        print(str(c)+"*"+str(m),"=", c*m, end=' ')
        cartes.append(str(c)+" "+str(m))

				=== Multiplication de 1, 2, 3, 4, 5  ===


1*1 = 1 2*1 = 2 3*1 = 3 4*1 = 4 5*1 = 5 6*1 = 6 7*1 = 7 8*1 = 8 9*1 = 9 10*1 = 10 1*2 = 2 2*2 = 4 3*2 = 6 4*2 = 8 5*2 = 10 6*2 = 12 7*2 = 14 8*2 = 16 9*2 = 18 10*2 = 20 1*3 = 3 2*3 = 6 3*3 = 9 4*3 = 12 5*3 = 15 6*3 = 18 7*3 = 21 8*3 = 24 9*3 = 27 10*3 = 30 1*4 = 4 2*4 = 8 3*4 = 12 4*4 = 16 5*4 = 20 6*4 = 24 7*4 = 28 8*4 = 32 9*4 = 36 10*4 = 40 1*5 = 5 2*5 = 10 3*5 = 15 4*5 = 20 5*5 = 25 6*5 = 30 7*5 = 35 8*5 = 40 9*5 = 45 10*5 = 50

In [167]:
#1.4

In [168]:
entier = input("Entrer un chiffre?")

Entrer un chiffre?5

In [169]:
n=int(input('donner n'))
for x in range(0,n):
    print (x*"*")

donner n5

*
**
***
****

In [170]:
#1.5

In [171]:
n=int(input('donner n'))
for x in range(0,n):
    print (x*"*")
    
n=int(input('donner n'))
for x in range(n,0,-1):
    print (x*"*")

donner n6

*
**
***
****
*****
donner n5
*****
****
***
**
*

In [172]:
def triangle(n): 
    k = 2*n - 2
    for i in range(0, n):  
        for j in range(0, k): 
            print(end=" ") 
        k = k - 1
        for j in range(0, i+1):
            print("* ", end="") 
        print("\r") 
  
n = 5
triangle(5)

        *
       * *
      * * *
     * * * *
    * * * * *

In [173]:
#EXERCICE 2

In [174]:
jours = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
mois = ["January", "February", "March", "April", "May", "June", "July", "August", "September", 
        "October", "November", "December"]

In [175]:
Date = [("January", 31), ("February", 28), ("March", 31), ("April", 30), ("May", 31), ("June", 30), 
        ("July", 31), ("August", 31), ("September", 30), ("October", 31), ("November", 30), ("December", 31)]

In [176]:
for i in range(max((len(jours),len(mois)))):
       while True:
           try:
               card = (jours[i],mois[i])
           except IndexError:
               if len(31)>len(12):
                   mois_c.append('')
                   card = (jours[i],mois[i])
               elif len(31)<len(12):
                   jours.append('')
                   card = (jours[i], mois[i])
               continue
           Date.append(card)
           break

In [177]:
Date

[('January', 31),
 ('February', 28),
 ('March', 31),
 ('April', 30),
 ('May', 31),
 ('June', 30),
 ('July', 31),
 ('August', 31),
 ('September', 30),
 ('October', 31),
 ('November', 30),
 ('December', 31),
 (31, 'January'),
 (28, 'February'),
 (31, 'March'),
 (30, 'April'),
 (31, 'May'),
 (30, 'June'),
 (31, 'July'),
 (31, 'August'),
 (30, 'September'),
 (31, 'October'),
 (30, 'November'),
 (31, 'December')]

In [178]:
jours_semaine = ["Monday", "Tueday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

In [179]:
annee2 = ["Monday 1 January", "Tuesday 2 January", "Wednesday 3 January", "Thursday 4 January"]

In [180]:
#Exercice 3

In [181]:
entier = input("Entrer une note entre 0 et 20 ?")

Entrer une note entre 0 et 20 ?5

In [182]:
entier = input("Entrer une note entre 0 et 20 ?")

Entrer une note entre 0 et 20 ?13

In [183]:
entier = input("Entrer une note entre 0 et 20 ?")

Entrer une note entre 0 et 20 ?17

In [184]:
notes = [5, 13, 17]

In [185]:
notes

[5, 13, 17]

In [186]:
notes = [5, 13, 17]
current_max = notes[0]
for elem in notes[1:]:
    if elem > current_max:
        current_max = elem

In [187]:
#le max

In [ ]:
    while notes:
     notes=[5, 13, 17]
    max=0
    i=0
    while i<len(notes):
         if notes[i]>=max:
             max=notes[i]
         i=i+1
     
    print (max)

In [ ]:
#le min

In [ ]:
    notes = [5,13,17]
    min(notes)

In [ ]:
#Exercice 4

In [ ]:
import os

from random import randint
 

nombrePropose = 0
 

print("\t\t\t\t=== PLUS HAUT PLUS BAS ===\n\n")
 

nombreHasard = randint(1, 100)
 

while nombrePropose != nombreHasard:
     
    print("Quel est le nombre ?")
 
  
    nombrePropose = input()
    nombrePropose = int(nombrePropose)
 

    if nombrePropose < nombreHasard:
        print("PLUS HAUT !\n")

        
    elif nombrePropose > nombreHasard:
        print("PLUS PETIT!\n")
 
   
    else:
        print("Félicitations, vous avez trouvé le nombre mystère !!!\n")
 

os.system("pause")