In [1]:
# Exercice 1

In [2]:
x = 2

In [3]:
z = 8

In [4]:
y = 6

In [5]:
z / y

1.3333333333333333

In [6]:
z % x

0

In [7]:
y * z

48

In [8]:
y ** x

36

In [9]:
x + z

10

In [10]:
y - z

-2

In [11]:
# Exercice 2

In [12]:
s = 'chaise'

In [13]:
s

'chaise'

In [14]:
t = 'table'

In [15]:
t

'table'

In [16]:
s + t

'chaisetable'

In [17]:
t * 3

'tabletabletable'

In [18]:
s * 4

'chaisechaisechaisechaise'

In [19]:
# pour recuperer la deuxieme lettre de t donc de table

In [20]:
t[x]

'b'

In [21]:
# pour nommer la deuxieme lettre de S donc de chaise en commencant par la fin de la chaine car '-'

In [22]:
s[-x]

's'

In [24]:
# cela prend le mot "t" donc "table" et il va extraire les lettres entre la deuxieme et la sixième  :

In [25]:
t[x:y]

'ble'

In [26]:
# la longueur du mot : il va compter toutes les lettres du mot "t" donc "table"

In [27]:
len (t)

5

In [65]:
#Exercice 3

In [28]:
#ici, le z est équivalent au chiffre 8 et le x au chiffre 2 , donc z est bien plus grand que x, c'est VRAI

In [29]:
z > x

True

In [30]:
#ici, y (6) n'est pas plus petit que x (2) donc ce la est faux

In [31]:
y < x

False

In [32]:
# 6 est égal à 2

In [33]:
y == x

False

In [34]:
# 6 est égal à 6

In [35]:
y == y

True

In [36]:
# Exercice 4

In [37]:
prénom = 'ines'

In [38]:
nom = 'majri'

In [39]:
#on rassemble le prenom et le nom dans la meme chaîne de caractère avec un espace

In [40]:
nom_complet = 'ines majri'

In [41]:
nom_complet

'ines majri'

In [42]:
# Imprimer une centaine de fois le prénom et nom

In [43]:
nom_complet * 100

'ines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majriines majri'

In [94]:
print(nom_complet)

ines majri

In [ ]:
# avoir les initiales séparées d'un espace / méthode à partir de 'nom complet'

In [115]:
initiales = nom_complet [0] , nom_complet [5]

In [117]:
initiales

('i', 'm')

In [ ]:
# Autre methode vu sur internet à partir de "print" et "end=" 
# de sorte à ce que les trois chevrons ">>>" se retrouvent collés après la chaîne de caractères 
# et qu'il ne le renvoie pas à la ligne

In [118]:
print("i") ; print("m")

i
m

In [121]:
print("i", end="") ; print("m")

im

In [92]:
print("i", end=" ") ; print("m")

i m

In [46]:
nom_complet[0] * 100

'iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii'

In [122]:
nom_complet[5] * 100

'mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm'

In [52]:
#Exercice 5

In [123]:
prenom = input("quel est votre prénom ?")

quel est votre prénom ? ines

In [124]:
prenom = input("quel est votre nom ?")

quel est votre nom ? majri

In [125]:
nom_complet

'ines majri'

In [128]:
initiales = input("i m")

i m

In [57]:
prenom = input("première lettre du nom de famille")

première lettre du nom de famille : M

In [58]:
# Exercice 6
# on retape la formule

In [133]:
fahrenheit = (1.8 * celsius) + 32

In [ ]:
# Exercice 7

In [ ]:
A = x < y
B = y < x
C = z > y

In [ ]:
A, B, C